*{
  margin:0;
  padding:0;
  font-family:Century Gothic;
}


header{

}

ul{
  float:right;
  list-style-type:none;
  margin-top: 25px;
}

ul li{
  display:inline-block;
}

ul li a{
  text-decoration:none;
  color:#000;
  padding:5px 2px;
  border:1px solid #000;
  transition:0.6s ease;
}

ul li a:hover{
  background-color:#00AAF4;
  color:#000;
}

ul li.active a{
  background-color:#00AAF4;
  color:#000;
}
.logo img{
  float:left;
  width:150px;
  height:auto;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
   border:1px solid #000;
  outline: none;
  color:#000;
   padding:5px 2px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}